<div class="row">
	<div class="col-md-6">
		<%= image_tag "https://goo.gl/2wWxZy", class: 'rounded', height: 100, width: 100 %>
	</div>
	<div class="col-md-6">
		<%= @user.name %><br>
		Total donation request: <%= @user.donorforms.count %><br>
		<% if @user.donorforms.count == 0 %>
			No donations made!
		<% end %>
	</div>
</div>
<br>
<hr>
<h1>Activity</h1>
<hr>
<% if @user.donorforms.exists? %>
	<% @user.donorforms.each do |donorform| %>
	<%= donorform.user_name %> has made a donation request <%= distance_of_time_in_words(DateTime.now, donorform.created_at) %> ago. <br>
	<% end %>
<% end %>
<hr>

<% @user.donations.each do |donor| %>
	<%= donor.user_name %> has made a donation <%= distance_of_time_in_words(DateTime.now, donor.created_at) %> ago. <br>
<% end %>