<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <!-- demo version warning area -->
    <div class="alert alert-info alert-dismissible text-center">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      This is only a DEMO version, we are not accepting any donations yet!
    </div>
    <%= render 'shared/navbar' %>

    <%= render 'shared/notices' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
